<%- include( '../partials/header', { title: title }) %>
<div class="main">
  <div class="song-page">
    <h2 class="songTitle"><%- song.title %></h2>
    <p class="songArtist"><%- song.artist %></p>
    <p class="songStreamCount"><%- song.streams %></p>
  </div>
</div>
<%- include( '../partials/footer') %>
